.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 1;
}

.container.hidden {
    animation: slideUp 0.4s ease-in-out forwards;
    pointer-events: none;
}

.container.visible {
    animation: slideDown 0.4s ease-in-out forwards;
    pointer-events: auto;
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
}



.slogan {
    font-family: "Space Grotesk";
    font-size: 3.3vw;
    text-align: right;
    padding-right: 30px;
    margin:0;
    margin-top: 80px;

    background-color: rgb(0, 81, 255);
}
#slogan2 {
    margin:0;
    margin-bottom: 200px;
    text-align: left;
    padding-left: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-top: 8vh;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap:200px;

    text-align:center;
    align-self: center;
    
    margin-left: 30px;
    margin-right: 15px;
}
.title h1 {
    font-family: "Space Grotesk";
    font-weight: normal;
    font-size: 6vw;
    margin: 0;
}
.title img {
    margin-top: 10vh;
}

.logo {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Space Grotesk";
    font-weight: bolder;
    border-radius: 100px;
    background-color: rgb(112, 112, 228);
    transition: background-color 0.5s;
    cursor: pointer;
}

.logo img {
    object-fit: contain;
    border-radius: 7px;
}

.logo p {
    color: whitesmoke;
    transition: color 0.3s;
}

.logo:hover p {
    color: rgb(94, 61, 155);
}

.logo:hover {
    background-color: rgb(136, 180, 235);
}




.nav-bar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(112, 112, 228);
}

.nav-bar a {
    padding: 14px 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100px;
    color: whitesmoke;
    transition: background-color 0.5s, color 0.3s;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: rgb(136, 180, 235);
    color: rgb(94, 61, 155);
}

.slider {
    margin-top: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.overlay h1 {
    font-family: 'Space Grotesk';
    background-color: rgb(40, 87, 255);
    width: 100vw;
    font-size: 6vw;
    margin: 0;
}


.track {
    display: flex;
    width: max-content;
    animation: roll 25s linear;
}

.track img {
    height: 94vh;
    flex-shrink: 0;
    filter: grayscale(100%);
}

.info-section {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 500px;
    padding-bottom: 100px;
    justify-self: center;
}

.info-section #text {
    align-self: center;
    margin-bottom: 40px;
    font-size: 50px;
}

.explore-more {
    display: block;
    background-color: rgb(255, 30, 68);

    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 55px 40px;
    font-size: 80px;
    font-family: 'Space Grotesk';
    
    color: whitesmoke;
    border: none;
    cursor: pointer;
}



.heading {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    margin-top: 70px;

    margin-left: 20px;
    margin-right: 20px;
}
.heading .text {
    font-family: "Space Grotesk";
    flex: 1;
}
.heading .text h1 {
    margin: 0;
    font-size: 4vw;
}
.heading .text p {
    font-size: 1vw;
}
.heading img {
    flex: 1;
    border-radius: 20px;
    object-fit: cover;
}

#heading1 {
    margin-bottom: 20vh;
}

.quote {
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    margin: 30px;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}
.quote h3 {
    font-family: "Space Grotesk";
    font-weight: bolder;
    font-style:italic;
    text-align: center;
    font-size: 30px;

    margin: 0;
}
.quote h4 {
    font-family: "Space Grotesk";
    margin:0;
    margin-top: 30px;
    align-self:flex-end;
}
.quote::after {
    content: '"';
    position: absolute;
    bottom: 80px;
    font-family: sans-serif;
    font-size: 80px;
}
.quote::before {
    content: '"';
    position: absolute;
    left: 980px;
    top: 40px;
    font-family: sans-serif;
    font-size: 80px;
}

#quote1 {
    margin-top: 100px;
}

#quote2 {
    margin-top: 300px;
}

#quote2::after {
    content: '"';
    position: absolute;
    bottom: 120px;
    font-family: sans-serif;
    font-size: 80px;
}

#quote2::before {
    content: '"';
    position: absolute;
    left: 980px;
    top: 80px;
    font-family: sans-serif;
    font-size: 80px;
}


.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.buttons h2 {
    padding: 20px;
    border-radius: 100px;

    max-width:300px;
    max-height: 60px;
    cursor: pointer;
    text-align: center;

    font-size: 20px;
}

#sustainabilityButton {
    margin-bottom: 20vh;
}

.buttons #button1{
    background-color: rgb(149, 61, 231);
}
.buttons #button2{
    background-color: rgb(140, 186, 0);
}

body {
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    color: white;
    font-family: "Sora";
}

@keyframes scroll-once {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--end));
    }
}
